nav {
  background-color: #ffffff;
    color: rgb(249, 255, 248);
    overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    color: #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 3px;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
  }
  nav a:hover {
    background-color:#dfd0d0bd;
    color: rgb(255, 255, 255);
  }
  body {
      background-color:rgb(162, 191, 152);
      color: rgb(0, 0, 0);
    }
    p {
      background-color: rgb(74, 32, 13);
      color: white;
      color: white;
      color: white;
    }
    div {
      color: white;
    }
    h1 {
      background-color: black;
      color: white;
      text-align:left
    }
    .star-rating {
      display: flex;
      flex-direction: row-reverse;
  }
  
  input[type="radio"] {
      display: none;
  }
  
  label {
      cursor: pointer;
      font-size: 40px;
      color: #ddd;
  }
  @media only screen and (max-width: 600px) {
    /* CSS rules for devices with a maximum width of 600px */
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  